version: '3.8'

services:
  # --- API Backend ---
  app:
    # NÃO buildamos mais aqui. Baixamos a imagem pronta.
    image: ghcr.io/${GITHUB_USERNAME}/url-shortener-backend:latest
    container_name: shortener_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 4 --proxy-headers
    restart: always
    ports:
      - "8000:8000"
    # O arquivo .env continua necessário para as credenciais do banco/redis
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_WRITE_URL=${DATABASE_WRITE_URL}
      - DATABASE_READ_URLS=${DATABASE_READ_URLS}
      - REDIS_URL=${REDIS_URL}
      - BASE_URL=${BASE_URL}
    networks:
      - backend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # --- Nginx (Load Balancer + Frontend Estático) ---
  nginx:
    # A imagem do Nginx já virá com o React buildado dentro dela
    image: ghcr.io/${GITHUB_USERNAME}/url-shortener-nginx:latest
    container_name: shortener_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      # Continuamos montando a config para permitir ajustes rápidos sem rebuild
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - backend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # --- Redis (Cache Local) ---
  redis:
    image: redis:7-alpine
    container_name: shortener_redis
    restart: always
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge

volumes:
  redis_data:
    driver: local